@font-face {
  font-family: 'Sailec Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Sailec Regular'), local('Sailec-Regular'),
    url('../fonts/Sailec-Regular.woff2') format('woff2'),
    url('../fonts/Sailec-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'Sailec Medium';
  font-style: normal;
  font-weight: 600;
  src: local('Sailec Medium'), local('Sailec-Medium'),
    url('../fonts/Sailec-Medium.woff2') format('woff2'),
    url('../fonts/Sailec-Medium.woff2') format('woff');
}

@font-face {
  font-family: 'Sailec Bold';
  font-style: normal;
  font-weight: 800;
  src: local('Sailec Bold'), local('Sailec-Bold'),
    url('../fonts/Sailec-Bold.woff2') format('woff2'),
    url('../fonts/Sailec-Bold.woff2') format('woff');
}

@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src: local('League Spartan Bold'), local('LeagueSpartan-Bold'),
    url('../fonts/leaguespartan-bold.woff2') format('woff2'),
    url('../fonts/leaguespartan-bold.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'),
       url('../fonts/source-code-pro-v11-latin-regular.woff2') format('woff2'), 
       url('../fonts/source-code-pro-v11-latin-regular.woff') format('woff');
}

html {
  background-color: #1d1e26;
  font-size: 100%;
  font-family: 'Sailec Regular', sans-serif;
  font-weight: 400;
  height: 100%;
}

/* Tailwind.config has a hard time with content: url() */
figcaption::before {
  content: url('../images/camera.svg');
  height: 1em;
  width: 1.75em;
  padding-right: 0.6em;
  display: table-cell;
  vertical-align: baseline;
  position: relative;
  top: 0.2em;
}

::-webkit-scrollbar-track {
  background: #2d3748;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

::-webkit-scrollbar {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #2d3748;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 9999px;
}